:root {
    @media (prefers-color-scheme: light) {
        --base-background-color: #e3ecf3;
        --sidebar-background: #e3ecf3;
        --search-background: #e3ecf3;
    }

    /* APP */
    --base-background-color: #1b1e24;

    /* Content */
    --link-color: #ff9100;
    --link-text-decoration: ;

    /* Sidebar */
    --sidebar-background: #1b1e24;

    /* Search */
    --search-background: #1b1e24;
}